/* In your CSS */
.avatar {
  border-radius: 50%; /* Adjust border-radius as needed */
  width: 100px; /* Set your desired width */
  height: 100px; /* Set your desired height */
  margin-right: 10px; /* Add some margin to separate the avatar from the text */

}

.button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: hsl(120, 17%, 95%); 
  color: #0a0a0a; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #9d1616; /* Darker green color on hover */
}

body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: 'Arial', sans-serif; /* Set your desired font-family */
}

.container {
  background-color: #9f9e9e; /* Set your desired background color */
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: center; /* Center items horizontally */
  height: 100vh; /* Set the container height to the full viewport height */
}